@model PROYECTO_NET.Data.Student

@{
    ViewData["Title"] = "Delete";
}

<h3>¿ Estás seguro que queires eliminarlo?</h3>
<div>
    <h4>Estudiantes</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Datebir)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Datebir)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Eliminar" class="btn btn-danger" /> |
        <a asp-action="Index">Atrás</a>
    </form>
</div>
