<div class="container mt-4">
    <div class="row">
        <div class="card p-0">
            <div class="card-title bg-dark text-white p-1 ">
                <h3>Lista de Empleados</h3>
            </div>
            <div class="card-body">
                <button class="btn btn-success float-end" routerLink="/create-employee" >Agragar</button>
                    <div class="table-resposive">
                        <table class="table">
                            <thead>
                              <tr>
                                <th scope="col">Nombre</th>
                                <th scope="col">Apellidos</th>
                                <th scope="col">Documento</th>
                                <th scope="col">Salario</th>
                                <th scope="col"></th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr>
                                <td >luij</td>
                                <td>Mark</td>
                                <td>5344324</td>
                                <td>2 lucas</td>
                                <td><a class="btn btn-info btn-sm mr-5">Editar</a>&nbsp;
                                <td><a class="btn btn-danger btn-sm mr-5">Eliminar</a>
                                </td>
                              </tr>
                             
                          </table>
                    </div>
            </div>
        </div>
    </div>
</div>